---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ meta.name }}
    game: minecraft
  name: {{ meta.name }}-minecraft
spec:
  ports:
  - name: web
    port: 31930
    protocol: TCP
    targetPort: 31930
  selector:
    app: {{ meta.name }}
    game: minecraft
  type: NodePort
